<template name="linkList">
    {{#if this}}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{lblLink 'title'}}</th>
                <th>{{lblLink 'rating'}}</th>
                <th>{{lblLink 'createdAt'}}</th>
                <th>{{lblLink 'updatedAt'}}</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}} 
                {{> link}} 
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <h3 class="text-center text-capitalize">your awesome links goes here</h3>
    {{/if}}
</template>
<template name="link">
    <tr style="{{setColorAlpha color}}" data-bind="click: viewDetail">
        <td>{{title}}</td>
        <td>{{rating}}</td>
        <td>{{formatDate createdAt}}</td>
        <td>{{formatDate updatedAt}}</td>
        <td>
            <a href="#" class="delete btn btn-primary btn-xs" data-bind="click: removeLink" title="Delete link">Delete</a>
        </td>
    </tr>
</template>
