<template name="links">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Links</h3>
            <div style="float:right;margin-top:-12px;">
                <a href="{{pathFor 'AddLink'}}" class="btn btn-primary" title="Add link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="#" class="btn btn-default" data-bind="click: changeView" title="Change view">
                    <span class="glyphicon {{viewTypeIcon}}"></span>
                </a>
            </div>
        </div>
        <div class="panel-body">
            {{> Template.dynamic template = viewTypeTemplate data=links}}
        </div>
    </div>
</template>