
@import 'lib/bootswatch';
html {
    height: 100%;
}
body {
    background: url('/images/background/one.png');
    //background: url(http://www.freechristmaswallpapers.net/images/wallpapers/Winter-Background-with-Frozen-Trees-1280-1024-411906.jpeg) no-repeat center center fixed;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
}
body nav.navbar {
    @include main-section($gray-base);
}
section.container {
    @include main-section($gray-lighter);
    border:none;
    padding:0;
}
#Mongol{
    overflow:auto;
}
.panel{
    margin:0;
    background-color: transparent;
}
.label{
    margin:2px;
    border-radius: 2px;
}
.thumbnail .glyphicon{
    margin-right: 5px;
    vertical-align: middle;
}
.input-group-addon {
    width:100px;
}
/* Video background css start */

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
 background: url('/images/background/bg1.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
@media screen and (max-device-width: 800px) {
  html { background: url(/images/background/bg1.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
.stopfade {
   opacity: .5;
    }
    .btn {
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
        @include transition(background-color, 0.2s, ease);
        &:hover {
            background-position: 0 -12px;
            @include transition(background-position, 0.15s, linear);
        }
    }
    /* Video background css end */ 

/* Boostrap tags input hack start */
div.bootstrap-tagsinput{
    border-radius: 0;
    width:100%;
}
/* Boostrap tags input hack end */

/* Boostrap summernote input hack start */
div.note-editable{
    height:400px;
}
/* Boostrap summernote input hack end */

