<template name="layout">
    <!--<video autoplay poster="/images/leaf.jpg" id="bgvid" loop>
        WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for
        the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the
        "Pause" button
        <source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm">
        <source src="/images/background/mg1.mp4" type="video/mp4">
    </video>-->
    <header>
        {{> header}}
    </header>
    <section id="content" class="main container" style="margin-top:65px">
        {{> yield}}
    </section>
    <footer>
        {{> footer}}
    </footer>
    <script type="text/javascript">
        toastr.options = {
        "positionClass": "toast-bottom-right",
        };
        
        $(document).off('.data-api');
        //http://codepen.io/dudleystorey/pen/knqyK
        // var vid = document.getElementById("bgvid");
        // var pauseButton = document.querySelector("#polina button");
        // function vidFade() {
        //     vid.classList.add("stopfade");
        // }
        // vid.addEventListener('ended', function() {
        //     vid.pause();
        //     vidFade();
        // });
        
	$(window).scroll(function(){
		var scrollTop = $(window).scrollTop();
		if(scrollTop != 0)
			$('nav').stop().animate({'opacity':'0.2'},400);
		else	
			$('nav').stop().animate({'opacity':'1'},400);
	});
	
	$('nav').hover(
		function (e) {
			var scrollTop = $(window).scrollTop();
			if(scrollTop != 0){
				$('nav').stop().animate({'opacity':'1'},400);
			}
		},
		function (e) {
			var scrollTop = $(window).scrollTop();
			if(scrollTop != 0){
				$('nav').stop().animate({'opacity':'0.2'},400);
			}
		}
	);
    </script>
</template>